
body {
    padding:0px;
    margin: 0px;
    background-color: black;
        color: white;
    font-weight: 300; 
    font-size: 13pt;
    width:100%;
   min-width: 100%;

       width: 680px;
}

a {
    color: #FFCC90;
}
/* text styling */
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* change headers here*/
h1 {
  /*postion*/
  margin-top: 0px;
  /*color*/
  color:white;
}


/* these are all the same for now, but easy to modify individually */
#container-not-an-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    /*background color*/
    background: black;
     /*margin*/
    margin: 30px;
    /*text color*/
    color:black;
}

/* ad.html  - the ad that people view first */
#adlogo {
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
    margin-right: 1em;
}

/* consent.html - the consent form */
#consent {
    /*position*/
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  /*font property*/
  font-size: 100%;

}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
  color: black;

}

/*text align for partial instruction for testing pahse */
div.left_instruction {
  text-align: left;
  width:49%;
  display: inline-block;
}

div.right_instruction {
  text-align: right;
  width:50%;
  display: inline-block;
}

div.test_begin {
  text-align: center;
}

/*properties for trial display*/
/* psiturk default*/
#trial {
  padding-top:15%;
  display: block;
  margin: 0 auto;
  width: 900px;
  text-align: center;
  background-color: black;
      width:100%;
   min-width: 100%;

}


* {   
  box-sizing: border-box;  
}

div.show-stimuli {

  display: block;
  background-color: black;
}

/*stock image property*/
#stim {
  display: block;

    height:260px;
  width:300px;
     /*postion*/
  position: fixed;
  top: 70%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

/*left agent image property*/
#stim1 {
  display: block;

     /*postion*/
  height:300px;
  width:300px;

  position: fixed;
  top: 40%;
  left: 20%;
  /* bring your own prefixes */
  transform: translate(-20%, -50%);
}

/*right agent image property*/
#stim2 {
  display: block;
  /*dfloat: right;
  margin: 25px;
  */
    height:300px;
  width:300px;

  /*postion*/
  position: fixed;
  top: 40%;
  left: 80%;
  /* bring your own prefixes */
  transform: translate(-80%, -50%);
}

/*stock value property*/
#stock_value{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50pt;
  font: bolder;
  text-align: left;
  display: block;
  /*float: right;
  padding-right: 23%;
  padding-bottom: 15px;*/
  position: fixed;
  top: 40%;
  left: 46%;
  /* bring your own prefixes */
  color: white;
}


/*'psiturk default*/
.clear {
  clear: both;
  height: 0;
  width: 0;
  font-size: 1px;
  line-height: 0;
}


/* 3-second coutndown text*/
#countdown{

  /*color, size, font*/
  color: white;
  font-size: 40pt;
  font: bolder;
  float: right;

  /*postion*/
  padding-right: 50%;
  padding-bottom: 50px;
}

#pause_instruction{
    color: white;
}

/*'TOO SLOW' text property*/
#warning {
      font-family:Arial, Helvetica, sans-serif;
  display: block;
  /*color, size, font*/
  font-size: 60pt;

  color: white;
  font: bolder;
   /*postion*/
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}





.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  grid-gap: 10px;

  padding: 10px;
}

#survey-intro{
    color: white;
}


.slider-area{
  max-width: 70%;
}

output {
  display: block;
}


/*the following content was stolen from the old two step version*/
#main {
	margin: 0 auto;
	width: 800px;
	font-size: 100%;
}
.continue  {
    width: auto;
}

.instruct p {
    text-align: justify;
}

.instruct .continue {
    margin: 20px 20px;
    width: 120px;
    height: 40px;
    font-size: 13pt;
    float: right;
}

.instruct .legal {
    font-size: 13px;
}

.instruct .header {
    text-align: justify;
    font-style: italic;
}

.instruct .instructions {
    text-align: center;
    font-style: italic;
    font-size: 100%;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
}

#featuretable {
    margin: 0 auto;
}

.instruct table .cell {
    width: 140px;
}

.instruct table img {
    display: inline-block;
}
.instruct table h3 {
    margin: 0;
    margin-top: 6px;
}
.instruct table h4 {
    margin: 0;
    margin-top: 6px;
}

.instruct .subbox {
    text-align: justify;
    width: 500px;
    margin: 20px auto;
}
.instruct .subbox p {
    padding: 15px 20px;
    border: 1px solid white;
}

.instruct table {
    margin: 0 0 10px;
}

.instruct .outerbox {
    border: 1px dashed #A54;
    border: 1px solid gray;
    border: 2px solid #ddd;
}

.instruct .innerbox {
    width: 250px;
}
.instruct .innerbox img {
    margin: 0 10px;
}

.instruct hr {
    border: .5px solid gray;
}

/* Questionnaire style */

#questionnaire p {
    font-size: 150%;
    color:white;
}

#questionnaire {
    font-size: 70%;
    text-align: left;
}
#questionnaire h1 {
    text-align: center;
}
#questionnaire .question {
    position: relative;
    clear: both;
    height: 150px;
    margin: 20px;
}
#questionnaire .questiontext {
    float: left;
    width: 280px;
    color: #bbbbff;
    margin: 0;
    margin-right: 10px;
}
.questiontext em {
    font-size: 70%;
}
#questionnaire textarea {
    display: inline;
    float: right;
    width: 320px;
    height: 130px;
}
#questionnaire form {
    text-align: right;
}

#debriefing {
    width: 640px;
}

#debriefingtext {
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 80%;
    text-align: justify;
    border: 1px solid white;
}
#affirmationbox {
    position: relative;
    margin:  0 auto;
    border: 1px dotted white; 
    padding: 10px 20px;
    vertical-align: middle;
}
#affirmationbox p {
    text-align: left;
    font-style: italic;
    margin-bottom: 0;
}
#affirmationbox  table {
    border-spacing: 20px;
}
#affirmationbox  td {
    vertical-align: middle;
    font-size: 100%;
    color: black;
    height: 50px;
    cursor: pointer;
}
#affirmative {
    background: white;
    overflow: hidden;
    font-weight: bold;
    width: 10em;
}
#negative {
    background: white;
    font-size: 100%;
    width: 25em;
}
