<script type="text/javascript">
  keydownfun = function() {}; // Should unbind keys.
</script>

<div id="container-questionnaire">


    <h1>Task Complete</h1>
    <hr>
         <div class="instructions well">

         Were the game instructions clear to you? In particular, did you have any trouble with the response procedure or did you find it was too slow or too fast for you? Did the game make sense to you? We would appreciate any feedback so we can improve the task in the future.<br/>
        <textarea rows="10" cols="80" name="comment_form1" id="comment_form1"></textarea>

    <hr>
    
<br><br>
        Did anything about the experiment seem strange or confusing? If so, please describe.<br/>
        <textarea ws="10" cols="80" name="comment_form2" id="comment_form2"></textarea>

    <hr>
    
<br><br>
       Do you think we were trying to trick or deceive you at any point during the experiment? If so, please describe.<br/>
        <textarea rows="10" cols="80" name="comment_form3" id="comment_form3"></textarea>

    <hr>
    
    <br><br>
       During the experiment, did you think you were interacting with real MTurk Workers that had participated in the study previously? Please describe your thoughts<br/>
        <textarea rows="10" cols="80" name="comment_form4" id="comment_form4"></textarea>

    <hr>
  </div>  
    
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
