<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <hr/>
     <div id="survey_desp">
    <p>You have now finished the learning and sharing game. Before you finish the study, we have a few questions for you to answer about your background and your experience today. 
    </p>
   
    Please answer honestly and thoughtfully; your answers are very important to us! We really appreciate the time and effort you spent completing this study.
    </div>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">



            <!-- beginning of a question -->
                <div class="row question">
                <div class="col-md-8">
                  <h4>What is your age (in years)?</h4>
                </div>
                </div>
                <div class="col-md-4">
                    <div id="age">
                        <p><input name="choice" value="" type = "text" required="required"></p>
                    </div>

            </div>
             <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                   <h4>What biological sex were you assigned at birth?</h4> 
                </div>
                </div>

                <div class="col-md-4">
                    <select  id="bio_gender" required>
                        <option value="Male"> Male</option>
                        <option value="Female"> Female</option>
                        <option value="Prefer not to answer"> Prefer not to answer</option>
                        <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
    
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                   <h4>What is your current gender identity?</h4>
                </div>
             </div>

                    <radio id="current_gender_identity">
                       <p> <input type="radio" name="choice" value="Male"> Male</p> 
                         <p><input type="radio" name="choice" value="Female"> Female</p>
                        <p><input type="radio" name="choice" value="Other">Other (if comfortable, please describe)<input name="choice" value=""></p>
  
                    </radio>

           
            <!-- end of a question -->
            <div class="row question">
                <div class="col-md-8">
                   <h4>What is the race with which you identify?</h4>
                </div>
                </div>

                    <checkbox id="race">
                         <p><input type="checkbox" name="choice" value="White/Caucasian/European American"> White/Caucasian/European American</p>
                         <p><input type="checkbox" name="choice" value="Black/African American"> Black/African American</p>
                         <p><input type="checkbox" name="choice"  value="Hispanic/Latino American">Hispanic/Latino American</p> 
                         <p><input type="checkbox" name="choice"  value="East Asian/East Asian American">East Asian/Asian American</p>
                        <p><input type="checkbox" name="choice"  value="South Asian or Indian/south Asian or Indian American">South Asian or Indian/south Asian or Indian American</p> 
                         <p><input type="checkbox" name="choice"  value="Native American">Native American</p> 
                         <p><input type="checkbox" name="choice"  value="Pacific Islander">Pacific Islander</p> 
                         <p><input type="checkbox" name="choice"  value="Other">Other</p> 
                    </checkbox>


        </form>
    </div>

                <!-- end of a question -->


    <script>


        /* BEGIN EXTERNAL SOURCE */
        function empty() {
            var x;
            x = document.getElementById("age").value;
            if (x == "") {
                alert("Please enter vaild input");
                return false;
            };
        }

/* END EXTERNAL SOURCE */
</script>






    <div class="instructionsnav">
        <div class="row">
 <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" >
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>


