<div id="container-questionnaire">
    <h1>Task Complete</h1>

    <div id="survey-intro">

    <p>You have now finished the learning and sharing game. Before you finish the study, we have a few questions for you to answer about your background and your experience today. 
    </p>
    <p>
    Please answer honestly and thoughtfully; your answers are very important to us! We really appreciate the time and effort you spent completing this study.
    </p>
        </div>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                   
                    <h4>
                        Did you feel that the funding resources available to compensate participants in this study were scarce or abundant?
                        </h4>
                        </div>
              
          <div class="col-md-8">
                    <select id ="compensate participants" >
                        <option value="7">Extremely abundant</option>
                        <option value="6">Somewhat abundant</option>
                        <option value="5">A little abundant, but not much different than usual</option>
                        <option value="4">The same as usual</option>
                        <option value="3">A little scarce, but not much different than usual</option>
                        <option value="2">Somewhat scarce</option>
                        <option value="1">Extremely scarce</option>
                    </select>
               </div>
            </div>
             <!-- end of a question -->
            <p>
       
            </p>

                        <!-- beginning of a question -->
                     <div class="row question">
                <div class="col-md-8">
                    <h4>
                  To what extent did you feel that the resources available to give you a monetary bonus were more or less limited than usual?
  </h4>
                      
                </div>
                <div class="col-md-8">
                    <div id="monetary bonus " >
                        <select id ="compensate participants" >
                        <option value="7">A lot less limited</option>
                        <option value="6">Somewhat less limited</option>
                        <option value="5">A little less limited, but not much different than usual</option>
                        <option value="4">The same as usual</option>
                        <option value="3">A little more limited, but not much different than usual</option>
                        <option value="2">Somewhat more limited</option>
                        <option value="1">A lot more limited</option>
                    </select>
                    </div>
  </div>
            </div>
             <!-- end of a question -->



            <!-- beginning of a question -->            
            <div class="row question">
                <div class="col-md-8">
                        <h4>
                    How positive or negative do you feel about each issue on the scale of 0 to 100, where 0 represents very negative, and 100 represents very positive?
  </h4>
                            </div>
            </div>


<div class="slider-area">
 <h4>Abortion</h4>
<input id="Abortion" type="range" value="50" step="1" min="1" max="100">
<br>
<output class="Abortion">50</output>

<h4>Welfare benefits</h4>
<input id="wb" type="range" value="50" step="1" min="1" max="100">
<br>
<output class="wb">50</output>

<h4>Limited government</h4>
<input id="lg" type="range" value="50" step="1" min="1" max="100">
<br>
<output class="lg">50</output>

<h4>Military and national security </h4>
<input id="mns" type="range" value="50" step="1" min="1" max="100">
<br>
<output class="mns">50</output>
                                              
                                              
<h4>Religion </h4>
<input id="rel" type="range" value="50" step="1" min="1" max="100">
<br>
<output class="rel">50</output>

<h4>Gun ownership </h4>
<input id="go" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="go">50</output>

<h4>Traditional marriage  </h4>
<input id="tm" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="tm">50</output>


<h4>Traditional values  </h4>
<input id="tv" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="tv">50</output>

<h4>Fiscal responsibility </h4>
<input id="fr" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="fr">50</output>


<h4>Business</h4>
<input id="bu" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="bu">50</output>

<h4>The family unit</h4>
<input id="fu" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="fu">50</output>

<h4>Patriotism</h4>
<input id="pa" type="range" 
value="50" step="1" min="1" max="100">
<br>
<output class="pa">50</output>



<script>
                    var slider = document.getElementById("Rewarding1");
                    var output = document.getElementById("display");
                    output.innerHTML = slider.value + '%';

                    slider.oninput = function() {
                      output.innerHTML = this.value+'%';
                    }
                    </script>


</div>



<script type="text/javascript">

    $(function () {
        var output = document.querySelectorAll('output')[0];

        $(document).on('input', 'input[type="range"]', function (e) {

            document.querySelector('output.' + this.id).innerHTML = e.target.value;
        });

        $('input[type=range]').rangeslider({
            polyfill: false
        });
    });
</script>





        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
