<script type="text/javascript">
  keydownfun = function() {}; // Should unbind keys.
</script>

<div id="container-questionnaire">
        <h1>Ratings, Introduction</h1>
        <hr>
        <div class="instructions well">

    <p>You are finished with the game! Thank you for your contribution to science.</p>
    <p>You will be eligible for full payment AFTER you answer the following questions. You will also receive a bonus based on how well you did in the task. This bonus will be sent to you soon.</p>
    
    
    <p></p>
    <p></p>
</div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
