<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
           You will have 2 seconds to respond to each pair of players. Again, please do your best to select the player that you think will share with you.
        </p>

        <div class="left_instruction">

       
        <p>Press [F] to select the player </p>
        <p>on the LEFT side of the screen.</p>
        </div>

        <div class="right_instruction">
         <p>Press [J] to select the player</p>
         <p>on the RIGHT side of the screen.</p>
        </div>

        <div class="test_begin">
        <p>
            When you are ready, click the 'Begin Experiment' button to begin!
        </p>
        </div>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
