<div id="container-instructions">

    <h1>Instructions</h1>

    <hr>

    <div class="instructions well">

        <p>
         You will now complete the next phase of this game. However, there will be three differences. First, the point pool available for each option will be shown above each picture before you make your choice, so you can use it to make your decisions. Second, you will not receive feedback about how much you get from each choice. At the end, you will be informed how much you won today. Finally, you will have 4 seconds to make each choice. Again, press [F] to choose the person on the left side and [J] to choose the person on the right side.</p>
        </div>

        <div class="test_begin">
        <p>
            When you are ready, click the 'Begin Experiment' button to begin!
        </p>
        </div>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
