<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />



    <script type="text/javascript">


        $('#instructions well').hide().delay(2000).show(0);

    </script >

    <div class="instructions well">

        <p>
          You have been assigned to the role <b>Recipient</b>! You will soon be given more detailed instructions about your role. </p>
        <p>
           We will now connect you with four participants from MTurk who have been assigned to the Decider role. To help you keep track of each Decider and how much they are sharing, we will have the Deciders all choose avatars to represent themselves. You do not need to choose an avatar, since the Deciders will not know your identity. 
        </p>

        <p>
          You will next enter a Virtual Lobby to wait for the Deciders. When a Decider selects an avatar and joins the Virtual Lobby, you will see their avatar appear.
        </p>
        <p>
           Click [NEXT] when you are ready to enter the Virtual Lobby and wait for the four Deciders.
        </p>

        <script type="text/javascript"></script>

    </div>

    <hr />

    <div class="instructionsnav">

        <div id="pairup_result"></div>

        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
