<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">


        <p>
          
We are interested in how people learn about others. In this study, you will play an 
interactive game with four other participants who have be recruited from Amazon Mechanical Turk, just like you. Of the five participants, four participants will be randomly assigned to the role of the “Decider” and one participant will be randomly assigned the role of the “Recipient”. 
        </p>

        <p>
           In this game, each of the Decider participants will make a series of choices about how to divide up a pool of points between themselves and a Recipient participant. On each round of the game, the Deciders will be given different pools of points, the amounts of which is determined by the experimenter. Each Decider will then choose, based on their point pools, how many points they would be willing to share with the Recipient. The Deciders will not know the identity of the recipient when they determine how many points to share.
        </p>

        <p>
          The Recipient will see the results of the decisions made by the Deciders. In particular, the Recipient will choose one of the Deciders to interact with, and the Recipient will receive however many points the chosen Decider shared. At the end of the game, the Deciders can exchange the points they kept (did not share) for a monetary bonus. Similarly, the Recipient can exchange the points shared with them for a monetary bonus.
        </p>

        <p>
            You will now be randomly assigned to be either a Decider or a Recipient. Press [SPACE] to be assigned to a role.
        </p>

        <p>
            Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
