<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>


<div class="instruct" id="main">

<!-- <h1>fractals -> fractals </h1> -->

 <p>In the real experiment, we are only going to give you 1.5 seconds for each response (1.5 seconds to choose an Advisor, and 1.5 seconds to reveal how well a stock is performing). At the beginning that won't seem like very much time, and you may find the task difficult. Over time, as you learn to play, you will find that 1.5 seconds is enough time to make good decisions.</p>
	<p>Our advice is to think carefully about your strategy, but also to trust your instincts. By concentrating, you can increase the number of points you win by a lot. There is an element of chance, but a lot of room for skill as well.</p>



<div id="nextButton" style="visibility: hidden;">
When you're ready to continue, click <strong>Next</strong>.	
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
