<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>


<div class="instruct" id="main">

<!-- <h1>fractals -> fractals </h1> -->

 <p>Welcome to the experiment! Today you will be playing a game in which you learn to choose financial advisors and stocks in order to make money. It will take approximately 30 minutes if you pay attention to the instructions.</p>
 
  <p>Please read ALL the instructions VERY CAREFULLY. The instructions are somewhat detailed, but you will need to read them carefully in order to complete the experiment.</p>

  <p>If you encounter an error today, please email the requester so you can be compensated.</p>

    <p></p>
    
<div id="nextButton" style="visibility: hidden;">
When you're ready to continue, click <strong>Next</strong>.	
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
