<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>


<div class="instruct" id="main">

<!-- <h1>fractals -> fractals </h1> -->

    <p>Once you see the stock that your hired Advisor invested in, you should press the SPACEBAR to find out how it performed. You will then see how many points you earned.</p>
    
    <p>You're now going to practice a few times. You will see a stock, and you will press the SPACEBAR to see how many points it pays out. Pay close attention to how the stocks perform! The stocks may change in how many points they pay out.</p>
    <p>(Later, you will practice choosing Advisor. For now, you will only see the stocks.)</p>
    <p></p>
                                
<div id="nextButton" style="visibility: hidden;">
When you're ready to complete a few practice rounds, click <strong>Next</strong>.	
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
