<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>


<div class="instruct" id="main">

<!-- <h1>fractals -> fractals </h1> -->

<p>You will get a bonus of approximately 1 cent for every 36 points you earn. The points can pile up quickly, and so will your bonus! Just do your best to earn as many points as possible!</p>
	<p>The game last about 150 rounds and you will have 1.5 seconds for each choice. The entire study will take approximately 30 minutes.</p>
	<p>You will be given a couple opportunities for breaks in the middle of the HIT.</p>
	<p>The HIT will start after you press 'NEXT', so make sure you have your fingers on the 'F' and the 'J' keys, to choose one of the two Advisors. Remember to also press the SPACEBAR to reveal how well a stock is performing. Good luck!</p>

<div id="nextButton" style="visibility: hidden;">
When you're ready to START THE GAME, click <strong>Next</strong>.	
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
