<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
        There are two phases to this game. In Phase 1, you will be given a chance to learn about the choices that the four Decider make. In Phase 2, you will again play the game, but this time you will not be given the opportunity to see the choices that the Deciders make. This type of game is commonly used in psychology and economics studies to measure learning and sharing behavior.
        </p>
        <p>
        Phase 1 consists of many rounds. On each round, we will make a different pool of points available to each Decider. Decider participants will choose how much of that point pool to keep for themselves, and how much to share with you. In this study and in similar studies, Decider participants have shown a range of responses. Sometimes Deciders have a large pool but only share a small percentage of their pool. Sometimes Deciders have a small pool but share a large percentage. How many points you will receive as a Recipient depends on both (1) the pool available to a Decider on a given trial and (2) how much Decider choose to share with you. For instance, a Decider might share 30% of a 100-point pool, giving you 30 points (30% of 100 points is 30 points). Decider will be making lots of choices with differing point pools, and the amount of points they share with you might differ each round.
        </p>
        <p>
        On average, we find that Recipient participants are given anywhere from 5 to 55 points per trial, and Decider participants tend to share 20% to 40% of the pool. However, these amounts vary (sometimes more, sometimes less), so you will have to learn about that as you go! 
        </p>
        <p>
        Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
