<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
          As the Recipient, you will be learning about the choices made by the Deciders about how much to share with the Recipient (you). The Deciders will not know the identity of the Recipient.
        </p>
        <p>
            The game will consist of many rounds. On each round, you will see TWO of the four Deciders. Your job is to choose which of the two Deciders to interact with. After you choose one of the two Deciders, you will see:

            (1) Your chosen Decider’s point pool, which is how much they could have shared (labeled “Out of”)
            (2) How many points the Decider did share, which is how many points you will receive for that round (labeled “Shared”)

        </p>
         <p>
           Over the course of all rounds, you will accumulate points based on which Deciders you choose, and how much those Deciders share. At the end of the game, points will be exchanged for a monetary bonus payment. In other words, how much you get paid will depend on which Deciders you choose to interact with! 
        </p>
        <p>
            Click [NEXT] to continue.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
