
<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, 0);

</script>

<div class="instruct" id="main">

<p>Nice work! You may take a break.</p>
<p></p>

<p>When you start playing again, everything is the same as it was before this break.</p>
<p></p>

<p>&nbsp; To choose the LEFT Advisor, press the <strong>F</strong> key.</p>
    <p>&nbsp; To choose the RIGHT Advisor, press the <strong>J</strong> key.</p>
    <p></p>
    
    <p>After you choose an Advisor, you will see the stock they invested in. When you see the stock, press the <strong>SPACEBAR</strong> to reveal the stock's performance and how many points you earned.</p>

<p></p>

<div id="nextButton" style="visibility: hidden;">
When you're ready to continue, press <strong>Next</strong>.	
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
