<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
        Of course, you are probably wondering how much each point is worth. Unfortunately, our budget for compensating participants is much more limited than in the past, due to reductions in academic funding. Due to these new funding limitations, we needed to reduce the exchange rate for bonus payments. With this new exchange rate, you will earn ¢1 (one cent) per 40 points shared with you. Press [SPACE] to continue.
           
        </p>
        <p>
         Click [NEXT] to continue.
         </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
