<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">
        <p>
        • Of course, you’re probably wondering how much each point is worth. In past studies, you would earn ¢1 (one cent) per 40 points shared with you. Fortunately, we have enough funding for participant compensation to keep this exchange rate the same. Therefore, you will continue to earn ¢1 (one cent) per 40 points shared with you. Press [SPACE] to continue. </p>
        <p>
            Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
