<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
        In sum: You will play two phases of the game, both involving choices made by the Deciders about how much to share with the Recipient (you). As a reminder, the Deciders will not know the identity of the Recipient.
        </p>

        <p>
        On each round, you will see two Deciders on the screen and pick one to interact with. You will then see the Decider’s point pool (“Out of:”) and how much the Decider shared (“Shared:”). You can make these choices using the [F] and [J] buttons on the keyboard.
        </p>
        <p>
        To interact with the Decider on the LEFT side of the screen, press [F].
        </p>

         <p>
        To interact with the Decider on the RIGHT side of the screen, press [J]. 
         </p>
         <p>
         Click [NEXT] to continue.
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
