<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

      <p>
        
        You will be given two seconds to select a Decider. You must respond in that time for you to interact with a Decider and to receive the points they shared. If you do not respond in time, the words "Too Slow" will appear on the screen. 
        </p>

        <p>
            Try to make your choices as quickly and accurately as possible. If you are not sure which Decider to choose, just go with your gut instinct. The more points you earn, the larger the bonus payment you will receive! Again, press [F] to choose the Decider on the left side and [J] to choose the Decider on the right side.
        </p>
        <p>
            Click [BEGIN EXPERIMENT] to continue.
        </p>
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-8">
            	<center>
	                <button type="button" id="next" value="next" class="btn btn-success btn-lg continue">
	                Begin experiment <span class="glyphicon glyphicon-arrow-right"></span>
	                </button>
	            </center>
            </div>
            <div class="col-xs-2">

            </div>
        </div>
    </div>

</div>
