<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>


<div class="instruct" id="main">

<!-- <h1>fractals -> fractals </h1> -->

    <p>At the end of the game, points will be converted into a cash bonus. That is, you will earn money based on the number of points you earn for yourself by hiring Advisors and observing their stock's performance.</p>
    <p>Do your best to earn as many points as possible by hiring Advisors with well-performing stocks. That way, you'll earn as much money as possible.</p>
    <p></p>
 
                                
<div id="nextButton" style="visibility: hidden;">
When you're ready to continue, click <strong>Next</strong>.	
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
