<div id="container-instructions">
	<div class="pairup">

        <!-- This is a comment and functions like a note. Below is the area where you put the instructions. -->
        <!--If you want to start a new a paragraph, then add <p> before and </p> after the content-->
        <!--examples are ↓↓↓ Preview in a browser-->
             

	   

	</div>

	


     <!--This is the layout settings of the website and nomrally we dont't have to change this -->
        <div class="instructionsnav">

             <div id="pairup_instruction"></div>
            	<!-- no previous button on first screen -->

                <div class="grid-container">
                  <div id="decider_1"></div>
                  <img id="ava1" src = "/static/images/loading.gif">
                  <div id="decider_2"></div>
                  <img id="ava2" src = "/static/images/loading.gif">
                  <div id="decider_3"></div>
                  <img id="ava3" src = "/static/images/loading.gif">
                  <div id="decider_4"></div>
                  <img id="ava4" src = "/static/images/loading.gif">
                </div>


        <script type="text/javascript">


            var show_piarup_time = 9000;
            decider_1_time = 6600;
            decider_2_time = 2300;
            decider_3_time = 5800;
            decider_4_time = 3700;

            $('#next_lobby').hide().delay(show_piarup_time+600).show(0);

            d3.select("#decider_1").html('');
            d3.select("#decider_2").html('');
            d3.select("#decider_3").html('');
            d3.select("#decider_4").html('');
 

            console.log('ojbk')

            d3.select("#pairup_instruction").html('<p>You are now in the Virtual Lobby.</p> <p> Please wait as we match you with four MTurk participants who have been assigned to the Decider role.</p><p>They will join the Virtual Lobby when they have selected an avatar.</p>');


            
            setTimeout(function () {
                d3.select("#decider_1").html('<p>Decider 1 has joined.</p>');
                document.getElementById("ava1").src = "/static/images/1.jpg";
                //d3.select("#ava1").append('img').attr("src", "/static/images/1.jpg").style("width", "60px").style("height", "60px"); 
            }, decider_1_time);
            setTimeout(function () {
                d3.select("#decider_2").html('<p>Decider 2 has joined.</p>');
                document.getElementById("ava2").src = "/static/images/2.jpg";
                //d3.select("#ava2").append('img').attr("src", "/static/images/2.jpg").style("width", "60px").style("height", "60px");
            }, decider_2_time);
            setTimeout(function () {
                d3.select("#decider_3").html('<p>Decider 3 has joined.</p>');
                document.getElementById("ava3").src = "/static/images/3.jpg";
                //d3.select("#ava3").append('img').attr("src", "/static/images/3.jpg").style("width", "60px").style("height", "60px");
            }, decider_3_time);
            setTimeout(function () {
                d3.select("#decider_4").html('<p>Decider 4 has joined.</p>');
                document.getElementById("ava4").src = "/static/images/4.jpg";
                //d3.select("#ava4").append('img').attr("src", "/static/images/4.jpg").style("width", "60px").style("height", "60px");
            }, decider_4_time);


            setTimeout(function () {
                d3.select("#pairup_result").html('<p>All four Deciders have selected their avatar and joined the Virtual Lobby. The game is now ready to begin. Please click [CONFIRM] to receive more specific instructions about your role.</p>');            
            }, show_piarup_time);
	    </script>


            <div id="pairup_result"></div>

                <div class="col-xs-4">
                <button type="button" id="next_lobby" value="next" class="btn btn-primary btn-lg continue">
                Confirm
                </button>
                </div>

            </div>
    </div>