<div id="container-instructions">


        <!-- This is a comment and functions like a note. Below is the area where you put the instructions. -->
        <!--If you want to start a new a paragraph, then add <p> before and </p> after the content-->
        <!--examples are ↓↓↓ Preview in a browser-->
             

	    <script type="text/javascript">

            var display_pairup_result = 3000;

            d3.select("#loading").append("img")
                                 .attr("src", "/static/images/loading.gif")

            d3.select("#pairup_result").html('<p>Ohter participants are selecting avatars.</p> <p>Please wait.</p>');


            $('#next_lobby').hide().delay(display_pairup_result + 600).show(0);

            setTimeout(function () {

                d3.select("#loading").remove();

                d3.select("#pairup_result").html('');

                var stimFolder = "/static/images/";
                var stim_array = ['1.jpg', '2.jpg', '3.jpg', '4.jpg'];

                //stim_array = _.shuffle(stim_array);

                stim1 = stim_array[0];
                stim2 = stim_array[1];
                stim3 = stim_array[2];
                stim4 = stim_array[3];


                d3.select("#rec").html('<p>YOU</p>');

                 var show_stim = function (image1, image2, image3, image4)
                    {
                    d3.select("#dec1")
                            .append("img")
                            .attr("src", stimFolder + image1)
                            .attr("id", 'pic1')
                            .style("width", "150px")
                            .style("height", "150px")

                    d3.select("#dec2")
                        .append("img") // append image
                        .attr("src", stimFolder + image2)
                        .attr("id", 'pic2')
                        .style("width", "150px")
                        .style("height", "150px")

                    d3.select("#dec3")
                        .append("img") // append image
                        .attr("src", stimFolder + image3)
                        .attr("id", 'pic2')
                        .style("width", "150px")
                        .style("height", "150px")

                    d3.select("#dec4")
                        .append("img") // append image
                        .attr("src", stimFolder + image4)
                        .attr("id", 'pic2')
                        .style("width", "150px")
                        .style("height", "150px")
                    }


           

                currentview = new show_stim(stim1, stim2, stim3, stim4);
	            console.log('ojbk...')
            }, display_pairup_result);


	    </script>

	</div>

	


     <!--This is the layout settings of the website and nomrally we dont't have to change this -->

          <div class="instructionsnav">
             <div id="loading"></div>

             <div id="rec"></div>
             <div id="dec1"></div>
             <div id="dec2"></div>
             <div id="dec3"></div>
             <div id="dec4"></div>
              <div id="pairup_result"></div>
             <div class="col-xs-4">
                <button type="button" id="next_lobby" value="next" class="btn btn-primary btn-lg continue">
                Comfirm
                </button>
           </div>

</div>