<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">


        <!-- This is a comment and functions like a note. Below is the area where you put the instructions. -->
        <!--If you want to start a new a paragraph, then add <p> before and </p> after the content-->
        <!--examples are ↓↓↓ Preview in a browser-->
	    <p>
	    step_one_prac_stock1_reminder
            
        </p>
        
        

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


     <!--This is the layout settings of the website and nomrally we dont't have to change this -->

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
